@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    async function getAntiForgeryToken() {
        console.log("getAntiForgeryToken called"); // Debugging log
        const response = await fetch('http://localhost:5002/api/antiforgery/token', {
            method: 'GET',
            credentials: 'include'
        });
        const token = await response.text();
        console.log("Anti-forgery token:", token);
        return token;
    }
</script>