<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:./userservice.db</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Enable automatic schema generation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL statements in the console (optional) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Add the Car entity mapping -->
        <mapping class="Model.User"/>
    </session-factory>
</hibernate-configuration>
